@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 7px;
      height: 25px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;

    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #d1d5db;
      border-radius: 100vh;
      height: 15px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #9ca3af;
    }
  }


/* black: #111
light: ##141414 */

.theme-light{
  .ant-switch-inner-unchecked{
    color: black !important;
  }
  .avatar-icon, .head-remain-text{
    color: black;
  }

  body {
    background-color: white;
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .major-subscription-color{
    color: black;
  }
  .card-title{
    color: black;
  }
  .category-item{
    color: black;
  }
  .section-header{
    color: black;
  }

  .navcategory-item{
    background-color: #eeeeee;
    color: black;
  }

  .navcategory-item.active{
    background-color: #111;
    color: white;
  }

  
  .menu-item{
    color: black !important;
    transition: all;
    transition-duration: .3s ease;
  }
  
  .menu-item.active{
    background-color: #f2f2f2;
  }
  
  .menu-item.active svg{
    fill: #111;
    stroke: #111;
  }
  
  .menu-item:hover{
    background-color: #f2f2f2;
  }
  
  .bg-theme-light{
    background-color: white;
  }
  
  .bg-theme-darker{
    background-color: rgb(250, 250, 250);
  }
  
  /* @media (prefers-color-scheme: dark) { */
  .bg-theme-light-dark{
    background-color: #141414;
  }

  .bg-theme-gray{
    background-color: #ebebeb !important;
  }
  
  .bg-theme-darker{
    background-color: #ebebeb;
  }
  
  .text-learnode-link{
    color: white;
  }
  .text-learnode-link:hover{
    color:#17c964
  }
  
  .ant-modal-content.lgsn{
    background-color: #ffffff !important;
  }
  
  
  .ant-modal-content.lgsn input{
    background-color: #f4f4f4 !important;
    border:gray
  }
  
  /* .ant-modal-content{
    background-color: #ffffff !important;
  } */
  
  .bg-learnode-green1{
    background-color: #17c964;
  }
  .bg-learnode-green2{
    background-color: #0fb356;
  }
  
  
  @keyframes shadow-pop-bl {
    0% {
      box-shadow: 0 0 #17c964, 0 0 #17c964, 0 0 #17c964, 0 0 #17c964, 0 0 #17c964, 0 0 #17c964, 0 0 #17c964, 0 0 #17c964;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: -1px 1px #17c964, -2px 2px #17c964, -3px 3px #17c964, -4px 4px #17c964, -5px 5px #17c964, -6px 6px #17c964, -7px 7px #17c964, -8px 8px #17c964;
      transform: translateX(8px) translateY(-8px);
    }
  }
  .hide-scroll:hover::-webkit-scrollbar{
    /* display: none; */
    display: block;
    width: 5px;
    /* background-color: white; */
  }
  
  .hide-scroll:hover::-webkit-scrollbar{
    /* display: none; */
    display: block;
    width: 8px;
    /* background-color: white; */
  }
  
  .hide-scroll::-webkit-scrollbar{
    display: none;
  }
  
  
  ::-webkit-scrollbar-track:hover {
    background-color: #ffffff; /* Color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #cbcbcb; /* Color of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff !important; /* Color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #e0e0e0; /* Color of the scrollbar thumb */
    border-radius: 10px;
  }
  /* .ant-carousel{
    width: 500px !important;
    height: 400px !important;
  }
  
  .ant-carousel .slick-track{
    width: 100% !important;
  } */
  
  .shadow-pop-bl:hover {
    animation: shadow-pop-bl 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
  
  /* .video-card:hover{
    transform: translateY(0);
  } */
  
  /* } */
  
  
  
  .hide-scroll-x::-webkit-scrollbar{
    display: none;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 280px;
    /* border-radius: 50%; */
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-60%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-40%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 25%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }
}

.ant-steps-item.ant-steps-item-finish{
  .ant-steps-item-icon{
    background-color:#17c96444;
    border-color: #17c964;
  }
  svg{
    margin: auto !important;
    color: #0fb356;
  }
}

.ant-steps-item.ant-steps-item-process.ant-steps-item-active{
  .ant-steps-item-icon{
    background-color:#17c964;
    border-color: #17c964;
  }
  svg{
    margin: auto !important;
    color: #fff;
  }
}

.ant-steps-item.ant-steps-item-wait{
  .ant-steps-item-icon{
    background-color:#e9e9e97c;
    border-color: #e9e9e9;
  }
  svg{
    margin: auto !important;
    color: #fff !important;
  }
}

.ant-steps-item-title::after{
  background-color: #17c964 !important;
}

.theme-dark{
  .ant-switch-inner-unchecked{
    color: white !important;
  }
  .ant-dropdown-menu-item{
  color: white !important;
  background-color: #ffffff00;
  margin-bottom: 5px !important;
  }

  .ant-dropdown-menu-item:hover{
    color: white !important;
    background-color: #ffffff12 !important;
    }
  .ant-dropdown-menu{
    background-color: #141414;
    color: white;
  }
  .avatar-icon, .head-remain-text{
    color: white;
  }
  body {
    background-color: #111;
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .major-subscription-color{
    color: white;
  }
  .popular-subscribed-creators{
    color: white;
  }
  .ant-modal-content{
    background-color: #111;
    color: white !important;
  }

  .ant-modal-content button{
    color: #111 !important;
  }
  .modal-content-header{
    background-color: #111;
    color: white;
  }
  .search-input{
    color: white;
  }
  .category-item{
    color: white;
  }
  .section-header{
    color: white;
  }
  .menu-item{
    color: black !important;
    transition: all;
    transition-duration: .3s ease;
  }
  

  .menu-item svg{
    color: white;
  }

  .menu-item p{
    color: white;
  }

  .card-title{
    color: white;
  }

  .menu-item.active{
    background-color: #ffffff22;
    color: white;
  }

  .menu-item.active p{
    color: white;
  }

  hr{
    border-color: #f2f2f24a;
  }

  .menu-item:hover p{
    color: white !important;
  }
  
  .menu-item.active svg{
    fill: white;
    stroke: white;
  }

  .bg-theme-light-dark{
    background-color: #141414;
  }
  
  .menu-item:hover{
    background-color: #ffffff22;
  }
  
  .bg-theme-light{
    background-color: #141414;
  }

  .navcategory-item{
    background-color: #ffffff28;
    color: white;
  }

  .navcategory-item.active{
    background-color: white;
    color: #111;
  }
  
  .bg-theme-darker{
    background-color: #111;
  }
  
  
  .text-learnode-link{
    color: white;
  }
  .text-learnode-link:hover{
    color:#17c964
  }
  
  .ant-modal-content.lgsn{
    background-color: #111 !important;
  }
  
  
  .ant-modal-content.lgsn input{
    background-color: transparent !important;
    border:gray
  }
  
  /* .ant-modal-content{
    background-color: #ffffff !important;
  } */
  
  .bg-learnode-green1{
    background-color: #17c964;
  }
  .bg-learnode-green2{
    background-color: #0fb356;
  }
  
  
  @keyframes shadow-pop-bl {
    0% {
      box-shadow: 0 0 #17c964, 0 0 #17c964, 0 0 #17c964, 0 0 #17c964, 0 0 #17c964, 0 0 #17c964, 0 0 #17c964, 0 0 #17c964;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: -1px 1px #17c964, -2px 2px #17c964, -3px 3px #17c964, -4px 4px #17c964, -5px 5px #17c964, -6px 6px #17c964, -7px 7px #17c964, -8px 8px #17c964;
      transform: translateX(8px) translateY(-8px);
    }
  }
  .hide-scroll:hover::-webkit-scrollbar{
    /* display: none; */
    display: block;
    width: 5px;
    /* background-color: white; */
  }
  
  .hide-scroll:hover::-webkit-scrollbar{
    /* display: none; */
    display: block;
    width: 8px;
    /* background-color: white; */
  }
  
  .hide-scroll::-webkit-scrollbar{
    display: none;
  }
  
  
  ::-webkit-scrollbar-track:hover {
    background-color: #ffffff; /* Color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #cbcbcb; /* Color of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff !important; /* Color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #e0e0e0; /* Color of the scrollbar thumb */
    border-radius: 10px;
  }
  /* .ant-carousel{
    width: 500px !important;
    height: 400px !important;
  }
  
  .ant-carousel .slick-track{
    width: 100% !important;
  } */
  
  .shadow-pop-bl:hover {
    animation: shadow-pop-bl 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
  
  /* .video-card:hover{
    transform: translateY(0);
  } */
  
  /* } */
  
  
  
  .hide-scroll-x::-webkit-scrollbar{
    display: none;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 280px;
    /* border-radius: 50%; */
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-60%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-40%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 25%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }
}